.navbar {
  width: 100%;
  background: #111;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  width: 140px;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  gap: 15px;
}
